<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/angular.min.js"></script>
</head>
<body>
    {{3+2}}
    <div ng-app="myapp">
        <br>
    {{3+2}}
        <input type="text" ng-model="a">
        {{a}} <br>
        {{a}}
        <div ng-controller="myController">
            <input type="text" name="" id="" ng-model="name">
            {{name}}
        </div>
    </div>
    <br>
    {{3+2}}
</body>
<script>
    var app = angular.module("myapp",[]);
    app.controller("myController",function($scope){
        $scope.name="";
    })
</script>
</html>